# NGC 5

In [ ]:
CREATE TABLE customers (
	customer_id SERIAL PRIMARY KEY,
    customer_name VARCHAR,
    city VARCHAR);

CREATE TABLE orders (
    order_id SERIAL PRIMARY KEY,
    customer_id INTEGER REFERENCES customers(customer_id),
    order_date DATE,
	total_amount FLOAT);

In [ ]:
INSERT INTO customers (customer_id, customer_name, city)
VALUES
	(1, 'John Doe', 'New York'),
    (2, 'Jane Smith', 'Los Angeles'),
    (3, 'David Johnson', 'Chicago');

INSERT INTO orders (order_id, customer_id, order_date, total_amount)
VALUES
	(1,1, '2022-01-10',100.00),
	(2,1, '2022-02-15', 150.00),
	(3,2, '2022-03-20', 200.00),
	(4,3, '2022-04-25', 50.00);

In [ ]:
SELECT customers.customer_name, COUNT(orders.order_id) AS total_orders
	FROM customers
	INNER JOIN orders ON customers.customer_id = orders.customer_id
	GROUP BY customers.customer_name;